body {
    margin: 0 auto;
    width: 1000px;
}

#header > a {
    display: block;
    font: 40px Arial;
    color: black;
    text-decoration: none;
    width: 250px;
}

#header > a:hover {
    color: #EAEAEA;
}

#logo {
    border-bottom-left-radius: 10px;
}

#logout {
    border-bottom-right-radius: 10px;
}

#menu {
    border-collapse: collapse;
    width: 1000px;
}

#menu tr td {
    height: 34px;
    text-align: center;
    vertical-align: middle;
    background-color: #1E90FF;
}

.menuItem {
    color: white;
}

.menuItem > ul {
    display: block;
    float: center;
    height: 40px;
    list-style-type: none;
    padding-right: 10px;
}

.menuItem > ul > li {
    border-left: solid 1px #FFF;
    display: block;
    float: left;
    height: 40px;
}

#seaded {
    border-right: solid 1px #FFF;
}

.menuItem > ul > li > a {
    background-color: #1E90FF;
    color: #FFF;
    display: block;
    float: left;
    font-size: 20px;
    height: 30px;
    padding: 10px 15px 7px;
    text-decoration: none;
}

.menuItem > ul > li > a:hover {
    background-color: #369;
    border-bottom: solid 5px #469;
    border-top: solid 4px #469;
    border-radius: 0 0 5px 5px;
    color: #FFF;
}

.lingid {
    color: black;
}

.lingid:hover {
    color: #EAEAEA;
}

a {
    color: black;
    text-decoration: none;
}

#welcome {
    width: 150px;
}

#search {
    width: 230px !important;
}

#logout {
    padding: 0px 12px;
    text-align: right !important;
}

#searchBox {
    border-radius: 10px;
}

#content {
    clear: both;
    overflow: hidden;
    margin: 10px auto 0;
}

.left-content {
    padding: 10px;
    border-radius: 10px;
    background-color: #1E90FF;
    min-height: 10px;
    width: 700px;
    max-width: 700px;
}

.right-content {
    padding: 10px;
    border-radius: 10px;
    background-color: #1E90FF;
    width: 250px;
    max-width: 250px;
    height: 300px;
}

.right-content-upper {
    padding: 10px;
    border-radius: 10px;
    background-color: #1E90FF;
    width: 250px;
    max-width: 250px;
    margin-bottom: 10px;
}

#register, #login {
    width: 30%;
}

.vorm {
    float: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

textarea {
    resize: vertical;
}

h3 {
    margin-top: 0;
}
